/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	 
	.one-image{visibility: hidden;
	display:none;  
	}
	#pagewrap {
		width: 90%;
		padding: 2%;
	}
	#content {
		width: 100%;
		padding: 2%;
	}
	#middle {
		width: 100%;
		padding: 2%;
	}
	header {
		padding: 2%;
	}
	footer {
	clear: both;
	padding: 1%;
	text-align: center;
	font-size: 80%;
	}
	#smallfooter {
	clear: both;
	padding: 1%;
	text-align: center;
	font-size: 60%;
	}
}