#pagewrap {
	padding: 0px;
	width: 960px;
	margin: 15px auto;
}

header {
	height: auto;
	padding: 20px;
	/*padding: 5 15px;*/
}

header > img {
	width: 100%;
}

header > i {
	margin-bottom: 0.5rem;
	display: block;
}

.my-header h1 { 
  display: inline;
}
.my-header span { 
  float: right;
}

#content {
	width: 435px;
	float: left;
	padding: 5px 10px;
	margin: 5px 5px 5px 5px;
}

#middle {
	width: 465px; /* Account for margins + border values */
	float: left;
	padding: 5px 10px;
	margin: 5px 5px 5px 5px;
}

footer {
	clear: both;
	padding: 5 15px;
	float: center;
}

/* for 980px or less */
@media screen and (max-width: 980px) {
	
	#pagewrap {
		width: 94%;
	}
	#content {
		width: 41%;
		padding: 1% 4%;
	}
	#middle {
		width: 41%;
		padding: 1% 4%;
		margin: 0px 0px 5px 5px;
		float: right;
	}

	header, footer {
		padding: 4%;
	}
	
}

/* for 832px or less 832 because Mikas said so. And that is usually enough for me. */
@media screen and (max-width: 832px) {

	#content {
		width: auto;
		float: none;
	}
	
	#middle {
		width: auto;
		float: none;
		margin-left: 0px;
	}
}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 2em;
	}
}

#content {
	background: #ffffff;
}

header, #content, #middle, {
	margin-bottom: 5px;
}

#pagewrap, header, #content, #middle, footer {
	border: solid 0px #ccc;
}